/* body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-image:  url("./images/bg-bottom.svg");
    background-size: 353px 304px;
    background-repeat: no-repeat;

} */
body{
    background-image: linear-gradient( 115deg, rgba(247, 247, 255, 0.4), rgba(247, 247, 255, 0.5) ),  url("./images/bg-top.svg"),url("./images/bg-bottom.svg");
    background-position: 0 100%, 100% 0;
      
    font-family: Montserrat;
    background-repeat: no-repeat;

    margin-top: 100px;
    background-color: #f7f7ff;
    font-size:15px;
    height: 868px;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#60607b;  
}
.all-plan{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    
    
    
    
}
.basic,
.professional,
.master{
    display:inline-block;
    flex-basis: 20%;
    
    
}
.professional{
    background-image: linear-gradient(150deg,hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    color: white;
    border-radius: 10px;
    text-align: center;
    padding: 2.25rem;
}
.basic,
.master{
    background-color: #fff;
    height: 450px;
    border-radius: 10px;
    text-align: center;
    padding: 1.20rem;
}
.professional .learn-more{
    background-image: linear-gradient(90deg,white,white);
    color:rgb(93, 93, 223);
    padding:1rem;
    border-radius: 4px;
    
}
.learn-more{
    background-image: linear-gradient(90deg,hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    color: white;
    padding:1rem;
    border-radius: 4px;
    
}
*{
    box-sizing: border-box;
}

.text-center{
    text-align: center;
}

.full-button{
    padding: 1em 0 3em 0;
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
p{
    font-weight: 500;
}
/* ---------------------------------------- */
/* Button  */
/* ---------------------------------------- */
input{
    display:none;
}
.button{
    display:inline-block;
    background-image:linear-gradient(to right, hsl(236, 72%, 79%) 20%, hsl(237, 63%, 64%));
    height:30px;
    width: 50px;
    border-radius: 25px;
}
.slider{
    position: absolute;
    cursor:pointer;
    
    background-color: white;
    height:25px;
    width: 25px;
    border-radius: 50%;
    position: relative;
    top: 2px;
    left: 2px;
    transition: all 0.4s;
}
input:checked + .slider{
    transform: translateX(20px);
}
.price{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:5px;
    
}
.price span{
    display: inline;
    font-weight: 700;
    font-size:25px;
}
.price h1{
    display: inline-block;
    font-size:40px;
}
@media(max-width:375px){
    .all-plan{
        display:flex;
        flex-direction: column;   
    }
}